.multiword-select{
	position: relative;
	.multiword-select-alert{

		    position: absolute;
		    width: 100%;
		    top:0;

  			transform: translateY(-100%);

		    &:after{
		    	top:0;
		    	position: absolute;

		    }
		
	}

    .alert-danger.ng-enter,
    .alert-danger.ng-leave {
      -webkit-transition: 0.5s linear all;
      transition: 0.5s linear all;
    }

	.alert-danger.ng-enter,
    .alert-danger.ng-leave.ng-leave-active {
      opacity: 0;
    }
    
    .alert-danger.ng-leave,
    .alert-danger.ng-enter.ng-enter-active {
      opacity: 1;
    }

	a{
		color:#909090;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
		width: 100%;

	}
	
	a:hover{
		font-style: oblique;
		color:white;
	}

	.selected{
		color: white;
	}

	legend{
		border-bottom-width: 0;
		text-align: center;
		color:#ddd;
		margin-bottom:5px;

	}

	.category{
		.row{
			div{
				text-align: center;
			}
		}

/* 		@media (min-width: 1200px) {
			.row{
				margin-bottom: 20px;
			}
			//all except last two
			&:not(:nth-last-child(-n + 2)){
				.row:before{
					content : "";
					position: absolute;
					bottom  : 0;
					height  : 1px;
					width   : 30%;  
					border-bottom:1px solid magenta;
					padding-bottom: 5px;
					border-bottom-width: 1px;
					border-bottom-color: #ccc;
					border-bottom-style: solid;
				}
			}
			&:nth-child(odd){
				.row:before{
					right: 0;
				}
			}
			&:nth-child(even){
				.row:before{
					left: 0;
				}
			}

		} */

	}


	.multiword-content{ 
		.category{
			padding-right: 0;
			div{
				text-align: justify;
			}

			span{
				display:inline-block;

				&:after{
					content: '\00a0\2022\00a0\00a0';
					font-size:11px;
				}

			}
			// &:nth-child(odd){
			&:nth-child(1){

				border-right-width: 1px;
				border-right-color: #ccc;
				border-right-style: solid;
			}
		}
	}
}