.multiword-select{
	position: relative;
	.multiword-select-alert{

		    position: absolute;
		    width: 100%;
		    top:0;

  			transform: translateY(-100%);
		
	}

    .alert-danger.ng-enter,
    .alert-danger.ng-leave {
      -webkit-transition: 0.5s linear all;
      transition: 0.5s linear all;
    }

	.alert-danger.ng-enter,
    .alert-danger.ng-leave.ng-leave-active {
      opacity: 0;
    }
    
    .alert-danger.ng-leave,
    .alert-danger.ng-enter.ng-enter-active {
      opacity: 1;
    }

	a{
		color:#909090;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
		width: 100%;

	}
	
	a:hover{
		font-style: oblique;
		color:white;
	}

	.selected{
		color: white;
	}

	legend{
		border-bottom-width: 0;
		text-align: center;
		color:#ddd;
		margin-bottom:5px;

	}

	.category{
		.row{
			div{
				text-align: center;
			}
		}

	}


	.multiword-content{ 
		.category{
			padding-right: 0;
			div{
				text-align: justify;
			}

			span{
				display:inline-block;
				//all but last
				&:not(:nth-last-child(-n + 1)):after{
					content: '\00a0\2022\00a0\00a0';
					font-size:11px;
				}

			}
		}
	}
}