/* latin */
body{
	background-color:#404041;
	color:white;
	font-family: 'roboto', sans-serif;
	h1{
		font-family: 'lato', sans-serif;

	}
}

.widget-container{
	padding-top: 1%;
	@media screen and (min-width: 1024px) {
		max-width: 1024px;
		padding-left: 10px;
		padding-right: 10px;

	}
	.caption{
		font-size: 10px;
	}

}


svg text {
	fill: white;
}

h1{
	@media screen and (max-width: 768px) {
		font-size: calc(12px + 3vw); 		
	}
}


.nvtooltip{
	@media (max-width: 800px) and (hover: none) {
		visibility: hidden;		
	}
}

.nvd3 line.nv-guideline {
	stroke: white !important;
}

.panel-default{
	background-color: transparent;
	border:0;
}

.talk-viz{
	.nvd3{
		.nv-y{

			path.domain{
				stroke-opacity: 0;
			}
			.zero line{
				stroke:#fff;
				stroke-width:3;
			}	
		}			
		.nv-x{
			path.domain{
				stroke-opacity: #F7941E
			}
			.zero line{
				stroke:#f7941e;
				stroke-width:3;
			}	

		}

		.tick{
			line{
				stroke:#888;
			}
		}

	}

	.selected{
		stroke-width: 7px;
		fill-opacity: .95 !important;
		stroke-opacity: .95 !important;
	}
}
