body{
	background-color:#404041;
	color:white;
}

.widget-container{
	padding-top: 1%;
	@media screen and (min-width: 1024px) {
		max-width: 1024px;
	}
}


svg text {
	    fill: white;
}

h1{
	@media screen and (max-width: 768px) {
		font-size: calc(12px + 3vw); 		
	}
}

.panel-default{
	background-color: transparent;
	border:0;
}

