<div class="row">
  <div class="container-fluid widget-container">
    <h1>Título</h1>
    <p>
      Instrucciones
    </p>

    <div class="row">
      <div class="col-sm-6">
          <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3> 
      </div>
      <div class="col-sm-6">
          <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3> 
      </div>

    </div>
    <div class="row">

        <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3> 

    </div>
</div>
