<div class="row">
	<div class="widget-action-button">
		<div class="widget-action-button-content">
			<h1>Ciencia y visión</h1>
			<p>Juegue con una herramienta que le permitirá comprender el panorama político del país</p>
			<img id="action-button-animated-logo" src="images/weblogo.gif" alt="I'm Yeoman">
			<button>
				<span>Explore <i>Status</i></span>
			</button>
			<p>Un desarrollo de 
				<span>
					<img id="action-button-text-logo" src="images/logos/wjlogo-small.png" alt="I'm Yeoman">
				</span>
			</p>
		</div>
	</div>
<div>