<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#!/about">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div class="row">
  <h1>Explore su Status</h1>
  <p>
    Esto es un widget.
  </p>


  <div class="container widget-container">
    <div class="row">
      <div class="col-sm-6">
          <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3> 
      </div>
      <div class="col-sm-6">
          <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3> 
      </div>

    </div>
    <div class="row">

        <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3> 

    </div>
</div>
