<div class="row">
  <div class="container-fluid widget-container">
    <h1>Título</h1>
    <p>
      Instrucciones
    </p>
    <md-input-container>
		<md-select ng-model="selectedTag">
			<!-- <md-option><em>{{selectedTag}}</em></md-option> -->
			<md-option ng-repeat="tag in tags" ng-value="tag">
				{{tag}}
			</md-option>
		</md-select>
	</md-input-container>
    {{tags}}
    {{selectedTag}}
    {{masterWords}}
    <nvd3 class="talk-viz" id='said-words-viz' options=masterOptions data=masterWords></nvd3>
    <nvd3 class="talk-viz" options=slaveOptions data=data></nvd3>
{{word}}
</div>
