<div class="row">
  <div class="container-fluid widget-container">
    <h1>¿Cómo está la conversación alrededor de Gustavo Petro?</h1>
    <p>
      Seleccione una palabra usada por Gustavo Petro en la gráfica de la derecha y estudie la reacción y las respuestas de las audiencias ante ellas 
    </p>
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">Palabras utilizadas</h3>
        <nvd3 class="talk-viz" id='said-words-viz' options=masterOptions data=masterWords></nvd3>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Respuestas más usadas por la audiencia</h3>
         <nvd3 class="talk-viz" options=slaveOptions data=slaveWords config="{ refreshDataOnly: false }"></nvd3>
      </div>
    </div>
    <credits></credits>
</div>

