<div class="row">
  <div class="container-fluid widget-container">
    <h1>¿Cómo está la conversación alrededor de Gustavo Petro?</h1>
    <div class ="instructions">
       <p>
        Seleccione una palabra usada por Gustavo Petro en la gráfica de la izquierda y estudie la reacción y las respuestas de las audiencias ante ellas 
      </p>
      <ul>
        <li>Puede escoger entre las categorías “las más efectivas”, “las más usadas”, “las más positivas” y “las más negativas” para estudiar la reacción de las audiencias ante las palabras dentro de ellas.</li>
        <li>Si el sentimiento está más cerca de +1 es positivo, si está más cerca de -1 es negativo, y si está cerca del 0 es ambiguo.</li>
        <li>Un número mayor en la contundencia significa más fuerza en el sentimiento.</li>
        <li>El color del círculo corresponde a una de las categorías elegibles.</li>
        <li>Entre más grande el tamaño del círculo, es mayor la frecuencia de uso de la palabra.</li>
      </ul>     
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center">Palabras utilizadas</h3>
        <nvd3 class="talk-viz" id='said-words-viz' options=masterOptions data=masterWords></nvd3>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">Respuestas más usadas por la audiencia</h3>
         <nvd3 class="talk-viz" options=slaveOptions data=slaveWords config="{ refreshDataOnly: false }"></nvd3>
      </div>
    </div>
    <div class="caption">
        <span><b>Intervalo de fechas:</b> 01 de noviembre de 2017 - 09 de febrero de 2018.</span> 
        <span><b>Número de publicaciones de Petro analizadas:</b> 130.</span> 
        <span><b>Número de respuestas analizadas:</b> 7215</span>
    </div>
    <credits></credits>
</div>

