<div class="row">
  <div class="container-fluid widget-container">
    <h1>¿Cómo se ha transformado el discurso de Vargas Lleras?</h1>
    <p>
      Seleccione hasta 5 términos y estudie su evolución en el tiempo.
    </p>
        <multiword-select words=words
        selected-words = selectedWords
        select-limit = 5
        limit-reached-msg="Solo puede seleccionar hasta cinco palabras a la vez"
        class=""/>

        <nvd3 options="options" data="d3data"></nvd3>

     </div>
    </div>
  </div>
