<div class="row">
  <div class="container-fluid widget-container">
    <h1>¿Cómo se ha transformado el discurso de Vargas Lleras?</h1>

    <p>
      Seleccione hasta 5 términos y estudie su evolución en el tiempo.
    </p>

    <multiword-select words=wordTuples
    selected-words = selectedWordTuples
    select-limit = 5
    limit-reached-msg="Solo puede seleccionar hasta cinco palabras a la vez"
    class=""></multiword-select>

     <words-viz options=options 
     data=data 
     selected-words=selectedWords
     caption="Análisis de 3528 tweets de Germán Vargas Lleras (@German_Vargas) entre diciembre de 2015 y enero de 2018"
     axis-label-x="Fecha"
     axis-label-y="Frencuencia de uso semanal"
     ></words-viz>
    <credits></credits>
  </div>
</div>

